.col-10 {
    background-color: rgba(0, 0, 255, 0.53);
}
.rg{
    background-color: midnightblue;
    color: white;
    
}
.icon{
    opacity: 0%;
}
.city{
    width: 100px;
}
html{
    background-color:rgba(0, 0, 255, 0.53) ;
}